@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700;800&display=swap');

#book-table-btn, #view-menu-btn {
    border-radius: 50px;
}

#food-img {
    width: 85%;
}

#navbar {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    #food-img {
        width: 60%;
    }
}